@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

// variables
$mainColor : #0d0d37;

@import "AdminLogin";
@import "LoginPage";
@import "SignUp";
@import "NavBar";
@import "GenresHolder";
@import "OffrePage";